In [313]:
import pandas as pd
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import requests as req
import time

In [254]:
!which chromedriver

/usr/local/bin/chromedriver

In [255]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [68]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [69]:
# Create BeautifulSoup object; parse with 'html'
html = browser.html
rover = BeautifulSoup(html,"html.parser")

In [153]:
# Retrieve the parent divs for all articles
news_title = rover.find('div', class_='content_title').text

news_p = rover.find('div', class_='article_teaser_body').text

print(f"In the latest news {news_title}.")
print()
print(news_p)

In the latest news For InSight, Dust Cleanings Will Yield New Science.

Wind can be crucial to clearing dust from spacecraft solar panels on Mars. With InSight's meteorological sensors, scientists get their first measurements of wind and dust interacting "live" on the Martian surface.

In [95]:
#JPL Mars Space Images - Featured Image
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
base_url = "https://www.jpl.nasa.gov"
browser.visit(url2)

In [99]:
#get image url using BeautifulSoup
html_image = browser.html
soup = BeautifulSoup(html_image, "html.parser")

img_url = soup.find('article', class_='carousel_item')['style'].split("'")[1]

featured_image_url = base_url+ img_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17932-1920x1200.jpg'

In [163]:
twiturl = "https://twitter.com/marswxreport?lang=en"
browser.visit(twiturl)

In [170]:
twit = browser.html
twitter = BeautifulSoup(twit,"html.parser")

In [171]:
mars_weather = twitter.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text

mars_weather
#<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" lang="en" data-aria-label-part="0">InSight sol 156 (2019-05-05) low -99.2ºC (-146.6ºF) high -18.1ºC (-0.6ºF)
#winds from the SW at 4.7 m/s (10.5 mph) gusting to 13.8 m/s (30.8 mph)
#pressure at 7.40 hPa<a href="https://t.co/FlGDeYg8hi" class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr">pic.twitter.com/FlGDeYg8hi</a></p>

'InSight sol 156 (2019-05-05) low -99.2ºC (-146.6ºF) high -18.1ºC (-0.6ºF)\nwinds from the SW at 4.7 m/s (10.5 mph) gusting to 13.8 m/s (30.8 mph)\npressure at 7.40 hPapic.twitter.com/FlGDeYg8hi'

In [119]:
url3 = 'https://space-facts.com/mars/'
tables = pd.read_html(url3)
type(tables)

list

In [120]:
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [172]:
df = tables[0]
df.columns = ['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [141]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameters</th>\n      <th>Info</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [142]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameters</th>      <th>Info</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [344]:
# url to visit
url4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
base = "https://astrogeology.usgs.gov"

# launch browser
browser.visit(url4)
    
# create beautifulsoup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere_image_urls = []

hemi = soup.find("div", class_ = "result-list" )
results = hemi.find_all("div", class_="item")

In [348]:
for result in results:
    #print(img_title)
    img_title = result.find("h3").text
    #print(link_to_img)
    image = result.find("a")["href"]
    image_url = base + image    
    browser.visit(image_url)
    html = browser.html
    soup=BeautifulSoup(html, "html.parser")
    gumbo = soup.find("div", class_="downloads")
    image_url = gumbo.find("a")["href"]
    hemisphere_image_urls.append({"Title": img_title, "Image_Url": image_url})

In [349]:
hemisphere_image_urls

[{'Title': 'Cerberus Hemisphere Enhanced',
  'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]